a {
    text-decoration: none !important;
}
.card {
    max-width: 900px;
    margin: auto;
}
.card img {
    height: 270px;
    object-fit: cover;
}
.card-body {
    padding: 30px;
}
.card-title {
    font-size: 1rem;
}
.card-text {
    font-size: 0.85rem;
}
.row-cols-1 .col, 
.row-cols-sm-2 .col, 
.row-cols-md-2 .col, 
.row-cols-lg-4 .col {
    padding: 5px;
}
h1{
    text-align: center;
    padding-top: 10px;
}